/*
font-family: 'Indie Flower', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Press Start 2P', cursive;
color: #017983;
color: #0080ff;
*/

*{
    font-size: 40px;
/*    background-image: linear-gradient(rgb(0,0,0),rgb(0,0,0));*/
    font-family: 'Amatic SC', cursive;
    color: #0080ff;
}

::selection{
    color: chartreuse;
}
body{
    margin: 0;
/*    padding: 250px 15px 0 15px;*/
    background-color: transparent;
}

/*------------PARTICLES----------------------*/
#particles-js
{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
/*    padding-top: 100px;*/
    z-index:-1;
}

/*-------------------HEADER----------------------------*/
header{
    background-size:cover;
    background-position: center;

}
#status{
    background-color: transparent;
/*    margin: 100px 0 100px 0;*/
    padding: 200px 20px 200px 20px;
    color: #b100ff;
    text-align: center;
}
/*-------------------NAVBAR-------------------------*/
#menu-items a{
    margin-right: 30px;
    color: #017983;
}
#menu-items a:hover,a:active{
    color: #FFF;
    border-bottom-style: double;
    border-bottom: 1px;
    border-bottom-color: #FFF;
    text-decoration: none;
}
#brand{
    color: #FFFFFF;
    font-weight: 700;
}

#navbutton{
    padding: 0;
    margin: 0;
}
/*
img #toggler{
    height: 48px;
    width: 48px;
    background-color:#017983;
    
}
*/

.navbar{
    background-image: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0));

/*    background-color: transparent;*/
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}



@media only screen and (max-width:480px)
{
    *{
        font-size: 30px;
    }
    #brand{
        font-weight: 400;
    }
}

#toggler {
    color:#017983;
}

/*----------------SECTION-----------------*/
.content{
    padding: 10px 5% 10px 5%;
}
#secAboutMe h3{
    color:skyblue;
}
#secAcademics h3{
    color: brown;
}
#secBlog h3{
    color:limegreen;
}
#secContact h3{
    color:darkgoldenrod;
}
