body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
    background-color: black;
}

/*
#particles-js{

    background: #000;
    display: flex;
}

*/
a:link, a:visited{
    color: #176259;
}
#brand{
    color: #061746;
}
.nav-item{
    margin-right: 50px;
}
.navbar{
    background-color: rgba(0,0,0,0);
}